.feeadback{
    background: rgb(249,143,36);
    background: linear-gradient(90deg, rgba(249,143,36,1) 40%, rgba(207,93,0,1) 100%);
}
.containerFeeadback{
    max-width: 900px;
    margin: 1rem auto;
    padding: 2rem;
    padding-bottom: 4rem;

}

.imgFeeadback{
    outline: 4px solid rgb(237, 237, 237);
    border-radius: 100px;
    position: relative;
    bottom: -40px;
}
.text{
    background:#f9cb24c2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.paragrafoFeeadback{
    width: 400px;
    text-align: center;
    padding: 2.5rem 0;
}