.marcas{
    margin: 10rem auto;
}
.marcas h1 {
    font-size: 30pt;
    margin: 2rem 1rem;
    max-width: 500px;
}
.gridMarcas{
    display: grid;
    align-items: end;
    justify-items: center;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    margin: 2 2rem;
}
.gridMarcas div{
    margin: 2rem 0;
    cursor: pointer;
}
@media (max-width:800px) {
    .marcas h1{
        font-size: 24pt;
    }
}
