.header{
    background: rgb(249,143,36);
    background: linear-gradient(90deg, rgba(249,143,36,1) 40%, rgba(207,93,0,1) 100%);
    padding: 0.4rem 0;
}
.flex{
    position: fixed;
    top: 2rem;
    left: 0;
    right: 0;
    z-index: 10000;
    display: flex;
    justify-content: space-around;
    padding:2rem 0;
}
.amout{
    position: relative;
    background-color: #F9CA24;
    padding: 0.3rem 0.8rem;
    right: 15px;
    bottom: 2rem;
    border-radius: 200px;
}
@media (max-width:600px) {
    .amout{
        position: relative;
        background-color: #F9CA24;
        right: 10px;
        bottom: 1.8rem;
        font-size: 14px;

    }
    .buttomBuscar{
        display: none;
        text-align: center;
    }
}