.carrinho {
    margin: 4rem auto;
    margin-bottom: 2rem;
}

.titleCarrinho {
    display: inline-block;
    margin-left: 1rem;
    border-radius: 15px;
    padding: 0 10px;
}

.titleCarrinho h2 {
    font-size: 1.5rem;
}

.imgCarrinho {
    width: 10px;
}

.gridCarrinho,
.grid {
    display: grid;
    grid-template-columns: 1fr 100px 1fr 100px;
    gap: 0.5rem;
    justify-items: center;
    align-items: center;

}

.gridResult {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-items: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
    padding: 5px;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px;
}

.gridResult div p {
    margin-bottom: 0.5rem;
}
.gridResult div p:last-child {
    margin-bottom: 0.5rem;
    text-align: center;
}

.flexProducts {
    justify-content: space-between;
}

.grid div p:first-child {
    margin-top: 1rem;
}

.gridCarrinho {
    border-bottom: 4px solid #38383809;
    padding: 0.5rem 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    max-height: 50%;

}

.grid:first-child {
    border: 4px solid #38383809;
    background-color: #c6c7c930;
}
.flexProducts {
    background: rgb(244, 244, 244);
    border-radius: 20px;
    overflow: hidden;
}
.buttonRemove {
    border: none;
    cursor: pointer;
    padding: 0.2rem 0.5rem;
    background-color: rgb(244, 150, 150);
    border-radius: 5px;
}


.titile {
    margin-bottom: 1rem;
}

.titleProduct {
    max-width: 300px;
}

td,
th {
    padding: 1rem 1.5rem;
}
.tableHeader{
    margin-bottom: 2rem;
}
table{
    padding: 10px;
}

.tableHeader {
    background-color: rgba(218, 218, 218, 0.536);
}

.tableBody tr {
    box-shadow: rgba(70, 70, 70, 0.114) 1px 1px 0.5px;
    border-radius: 30px;
}

.price {
    width: 20px;
}

.result {
    background-color: rgba(231, 231, 231, 0.738);
    padding: 1rem 3rem;
    border-radius: 15px;
    text-align: left;
    box-shadow: #13ae1679 0px 1px 4px;
    margin-bottom: 2rem;
}

.resumo {
    text-align: center;
    background-color: #7be08d84;
    border-radius: 20px;

}

.resultTot {
    background-color: rgb(225, 212, 212);
    padding: 2px 4px;
    border-radius: 20px;
}

.buttonFinalizar {
    width: 100%;
    background-color: #11cc33;
}

.notProduct {
    background: rgb(249, 143, 36);
    background: linear-gradient(90deg, rgba(249, 143, 36, 1) 40%, rgba(207, 93, 0, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 5% 0;
}

@media (max-width:1200px) {
    .carrinho {
        margin: 4rem 2rem;
    }

    .IconLixeira {
        width: 25px;
    }
    td,
th {
    padding: 0.7rem 1.2rem;
}
}

@media (max-width:950px) {
    .flexProducts {
        flex-direction: column-reverse;
        align-items: center;       
    }
    .result{
        width: 500px;
    }
}
@media (max-width:700px) {
    .carrinho {
        margin: 1rem 1rem;
    }
    .tableHeader{
        display: none;
    }
    .IconLixeira {
        width: 20px;
    }
    .cardLixeira{
        position: absolute;
        bottom: 13px;
        right: 30px;
    }
    .gridCardProducts{
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "img img"  
        "price price"
        "qtd qtd";
        gap: 5px;
        justify-items: center;
    }
    .qtd{
        grid-area: qtd;
    }
    .price{
        grid-area: price;
        padding: 0;
        text-align: center;
        width: 100px;
    }
    .img{
        grid-area: img;
    }
    td,
th {
    padding: 0.1rem 0.5rem;
}
}

