.carrinho{
    margin: 4rem auto;
}
.gridCarrinho, .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 100px;
    gap: 0.5rem;
    justify-items: center;
    align-items: center;
}
.gridCarrinho{
    border-bottom: 4px solid #38383809;
    padding: 0.5rem 0;
    background-color:#c6c7c930 ;
}
.gridCarrinho:first-child{
    border-top: 4px solid #38383809;

}

@media (max-width:1200px) {
    .resultContainer{
        right: 2rem;
    }
}
@media (max-width:1200px) {
    .carrinho{
        margin: 4rem 2rem;
    }
}
@media (max-width:600px) {
    .carrinho{
        margin: 1rem 1rem;
    }
    .gridCarrinho{
        grid-template-columns: repeat(1, 1fr);
    }
    .titleProduct{
        text-align: center;
    }
    .preco{
        display: none;
    }
    .resultContainer{
        position: static;
    }
}