@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/Poppins-Medium.ttf');
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  box-sizing: border-box;
}

li,
a {
  list-style: none;
  text-decoration: none;
}

img {
  width: 100%;
}

body {
  background-color: light;
}