@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/Poppins-Medium.ttf');
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  box-sizing: border-box;
}

li,
a {
  list-style: none;
  text-decoration: none;
}

img {
  width: 100%;
}

body {
  background-color: light;
}
.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft 1s forwards ease-in-out;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: translate(0);
  }
}
.animeTop {
  opacity: 0;
  transform: translateY(-20px);
  animation: animeTop 1s forwards ease-in ;
}

@keyframes animeTop {
  to {
    opacity: 1;
    transform: translate(0);
  }
}